.loader {
  &-icon {
    width: 40px;
    animation: loader 1000ms backwards infinite;
    @for $i from 1 through 3 {
      &--#{$i} {
          animation-delay: 200ms * $i;
      }
    }
    & path {
      fill: $primary;
      stroke-width: 1;
      fill-opacity: 0.8;
    }
  }
  
}

@keyframes loader {
0% {
  opacity: 0;
  transform: scale(0.5);
}
50% {
  opacity: 1;
  transform: scale(1);  
}
100% {
  opacity: 0;
}
}
